* {
  font-family: 'Open Sans', sans-serif;
  color: #3C4650;
}

body {
    margin: 0;
    padding: 0;
}

/* Registration Form */

#div-register {

  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#form-register {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  width: 300px;
}


#form-register label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#form-register input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#form-registetr input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

#form-register input[type="submit"]:hover {
  background-color: #45a049;
}

/* Footer */
footer {
    background-color: #fff; /* Hintergrundfarbe des Footers */
    color: #fff; /* Textfarbe im Footer */
    padding: 10px; /* Innenabstand des Footers */
    position: fixed; /* Fixiere den Footer am unteren Bildschirmrand */
    bottom: 0; /* Abstand vom unteren Rand */
    width: 100%; /* Vollständige Breite des Bildschirms */
    border-top: 1px solid #ccc; /* Füge einen grauen dünnen Rand oben hinzu */
  }

.footer-content p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center; /* Zentriere den Inhalt im Footer */
}

/* Navigation Bar */

.navbar {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Hier wird die vertikale Ausrichtung zentriert */
    justify-content: space-between; /* Neu: Elemente gleichmäßig verteilen */
  }

.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;

}

.navbar img {
  padding: 0;
  height: 30px;
}

.navbar a:hover {
    color: #1786CE;
}

#nav-login {
      color: #1786CE;
}

#nav-login:hover {
      color: #0e598b;
}

.navbar li:last-child {
    margin-left: auto;
}