* {
  font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Footer */
footer {
    background-color: #fff; /* Hintergrundfarbe des Footers */
    color: #fff; /* Textfarbe im Footer */
    padding: 10px; /* Innenabstand des Footers */
    position: fixed; /* Fixiere den Footer am unteren Bildschirmrand */
    bottom: 0; /* Abstand vom unteren Rand */
    width: 100%; /* Vollständige Breite des Bildschirms */
    border-top: 1px solid #ccc; /* Füge einen grauen dünnen Rand oben hinzu */
}

.footer-content p {
    color: #3C4650;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center; /* Zentriere den Inhalt im Footer */
}

/* Navigation Bar */
nav {
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #ccc; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: space-between;
}

nav img {
    display: block;
    height: 50px; /* Adjust the height as needed */
}

nav a {
    display: block;
    color: #111;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-login {
  background-color: #1786CE;
  order: -1; /* Move the login link to the left */
}